In [2]:
import yfinance as yf

In [11]:
bist=yf.Ticker("XU030.IS")

In [14]:
temp=bist.history(period="3mo")

In [17]:
temp[temp["Volume"].max()==temp["Volume"]]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-09-24 00:00:00+03:00,11009.700195,11300.099609,10973.0,11194.299805,2622600,0.0,0.0

In [18]:
temp

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-07-18 00:00:00+03:00,12155.900391,12245.900391,12077.299805,12118.799805,1467200,0.0,0.0
2024-07-19 00:00:00+03:00,12122.400391,12218.599609,12092.099609,12170.299805,1636600,0.0,0.0
2024-07-22 00:00:00+03:00,12187.299805,12263.000000,12121.099609,12177.000000,1550600,0.0,0.0
2024-07-23 00:00:00+03:00,12184.799805,12192.799805,11990.599609,12055.599609,1525100,0.0,0.0
2024-07-24 00:00:00+03:00,12050.900391,12095.700195,11949.500000,11949.500000,1376700,0.0,0.0
...,...,...,...,...,...,...,...
2024-10-14 00:00:00+03:00,9896.400391,9912.400391,9697.799805,9725.000000,1833900,0.0,0.0
2024-10-15 00:00:00+03:00,9735.400391,9948.500000,9692.400391,9911.200195,2141700,0.0,0.0
2024-10-16 00:00:00+03:00,9895.900391,10031.599609,9804.200195,10018.799805,1705200,0.0,0.0
2024-10-17 00:00:00+03:00,10005.799805,10119.799805,9959.900391,10035.200195,1994600,0.0,0.0
2024-10-18 00:00:00+03:00,10052.059570,10119.089844,10052.059570,10086.870117,0,0.0,0.0

In [16]:
temp["Volume"].max()

2622600

In [13]:
bist.get_recommendations_summary()

  period  strongBuy  buy  hold  sell  strongSell
0     0m          0    0     0     0           0
1    -1m          2   11     2     0           0
2    -2m          2   10     1     0           0
3    -3m          1    9     4     0           0

In [4]:
bist.history(period="1mo").info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 23 entries, 2024-09-18 00:00:00+03:00 to 2024-10-18 00:00:00+03:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          23 non-null     float64
 1   High          23 non-null     float64
 2   Low           23 non-null     float64
 3   Close         23 non-null     float64
 4   Volume        23 non-null     int64
 5   Dividends     23 non-null     float64
 6   Stock Splits  23 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 1.4 KB

In [5]:
lister=[]

for el in bist.info.keys():
    lister.append(el)

In [6]:
import pandas as pd

df=pd.DataFrame({"Gelen veriler": lister})
df

         Gelen veriler
0             address1
1             address2
2                 city
3                  zip
4              country
..                 ...
98   operatingCashflow
99       revenueGrowth
100   operatingMargins
101  financialCurrency
102   trailingPegRatio

[103 rows x 1 columns]

In [7]:
df.to_csv("veriKategori.csv")